.hero {
  background-image: url("./img/hero.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0 11%;
  color: #fff;
  background-repeat: no-repeat;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.hero h3 {
  font-size: 4rem;
  text-shadow: 2px 2px 5px #010101;
}

.hero p {
  text-shadow: 2px 2px 5px #010101;
  font-size: 2rem;
  letter-spacing: .4rem;
}

.hero a {
  padding: .5rem 3rem;
  color: #010101;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: .3rem;
  background-color: #01fffb;
  transition: .3s;
}

.hero a:hover {
  background-color: #00b1ae;
}

#about h1,
#ourteam h1,
#contact h1,
#products h1 {
  padding: 5rem 0 3rem;
}

#products .card {
  transition: .3s;
}

#products .card:hover {
  transform: scale(1.1);
  z-index: 2;
}

#ig {
  outline: none;
  background: linear-gradient(to right bottom, #dc0025, #be02a8);
  color: #fff;
}

#yt {
  background: #f20000;
  color: #fff;
  transition: .2s;
}

#ig:hover {
  background: linear-gradient(to left top, #950084, #a8001c);
}

#yt:hover {
  background: #af0000;
}

@media (max-width: 576px) {
  .hero h3 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }
}